.content-container {
	border-radius: 20px;
	margin: 50px auto !important;
}
.full-width {
	width: 100%;
	border-radius: 20px;
	object-fit: none !important;
	height: 200px;
	transition: transform 0.2s;
}
.modal {
	max-height: 100% !important;
	border: 5px solid white;
	transform: translateY(-10%) !important;
}
* {
	font-family: "Major Mono Display";
}
.modal-footer {
	text-align: left !important;
}
.modal-content {
	padding-bottom: 0px !important;
}
.big-icon {
	font-size: 25px;
	margin-right: 20px;
}
.big-round {
	border-radius: 20px;
}
.modal-image {
	width: 80%;
	margin-left: 10%;
}
.image-container {
	margin: 0 auto;
	width: 80%;
}
.full-width:hover {
	opacity: 0.8;
}
@media and screen(max-width: 650px) {
	.full-width {
	width: 100%;
	max-height: 200px;
	border-radius: 20px;
	}
}