{% extends "head.html" %}
{% block content %}
	<div class="home">
		 <table class="image-container hide-on-small-only">
		{% for image in images %}
			{% if image != "hctransparent.png"%}
					{% if loop.index == 1 %}
						<tr>
					{% elif (loop.index-1) % 3 == 0 %}
						</tr>
				   		<tr>
				   	{% endif %}
				   	<td><img src="{{ url_for('static', filename='assets/' + image) }}" class="full-width"></img></td>
			{% endif %}
		{% endfor %}
	</table>
	<table class="image-container show-on-small-only">
		{% for image in images %}
			<tr>
				   	<td><img src="{{ url_for('static', filename='assets/' + image) }}" class="full-width"></img></td>
			</tr>
		{% endfor %}
	</table>

	</div>
{% endblock %}