{% extends "head.html" %} {% block content %}

<table class="image-container hide-on-small-only">
    {% for image in images %} {% if image != "hctransparent.png" and image != "hctransparentdark.png" and image != "favicon" %} {% if loop.index == 1 %}
    <tr>
        <td>
            <a href="{{ url_for('events', event_name = metadata[image]["event"])}}" class="modal-trigger">
                <img alt="Loading..." src="{{ url_for('static', filename='assets/' + image) }}" class="full-width z-depth-4 wow fadeInUp" />
            </a>
        </td>
        {% elif (loop.index0) % 2 == 0 %}
    </tr>
    <tr>
        <td>
            <a href="{{ url_for('events', event_name = metadata[image]["event"])}}" class="modal-trigger">
                <img alt="Loading..." src="{{ url_for('static', filename='assets/' + image) }}" class="full-width z-depth-4 wow fadeInUp" />
            </a>
        </td>
        {% else %}
        <td>
            <a href="{{ url_for('events', event_name = metadata[image]["event"])}}" class="modal-trigger">
                <img alt="Loading..." src="{{ url_for('static', filename='assets/' + image) }}" class="full-width z-depth-4 wow fadeInUp" />
            </a>
        </td>
        {% endif %}


        {% endif %} {% endfor %}
</table>
<table class="image-container hide-on-med-and-up">
    {% for image in images %} {% if image != "hctransparent.png"%}
    <tr>
        <td>
            <a href="{{ url_for('events', event_name = metadata[image]["event"])}}"><img src="{{ url_for('static', filename='assets/' + image) }}" class="full-width" alt="Loading..."/></a>
        </td>
    </tr>
    {% endif %} {% endfor %}
</table>

{% endblock %}