{% extends "partials/head.html" %} {# Default head template #}
{% from "partials/_card.html" import card with context %} {# Default card template #}
{% block content %}
{#

    Table for Desktop Client

#}
    {% if event_name %}
        <h3 class="center">{{ event_name }}</h3>
    {% endif %}
<table class="image-container hide-on-small-only">
    {% for image in images %}
        {% if image not in ("hctransparent.png","hctransparentdark.png","favicon", "fonts")  %} {# If not excluded #}
            {% if loop.index == 1 %}
            <tr> {# Start Table #}
            {% elif (loop.index0) % 2 == 0 %} </tr> <tr> {# Start new Table Row if left table cell #}
            {% endif %}
            {{ card(image=image, metadata=metadata, mobile=False) }} {# Default (right table cell) #}
        {% endif %}
    {% endfor %}
</table>
    {#

        Table for Mobile Client

    #}
<table class="image-container hide-on-med-and-up">
    {% for image in images %} {% if image not in ("hctransparent.png","hctransparentdark.png","favicon", "fonts") %}
    {{ card(image=image, metadata=metadata, mobile=True) }}
    {% endif %} {% endfor %}
</table>

{% endblock %}